html
    head
        title Demo
        block links
        block script
            script(src="/static/js/jquery.min.js")
            script(src="/static/js/socket.io.js")
            script(src="/static/js/main.js")
    body
        div(class="container")
            block head
            block content
                div(id="testEvent")
                div(id="broadcast")
                div
                    input(type="text", placeholder="Fill name room", id="txtRoom")
                    button(id="createRoom") Create room
            block foot