extends ../master.pug
block content
    h1=title
    form(action=`/users`, method="post")
        label(for="Email") Email: 
        input(type="email", name="email")
        br
        label(for="Password") Password: 
        input(type="password", name="password")
        br
        button(value="submit") Add
